# this repository must NOT have a toplevel `Gemfile`
/Gemfile
/Gemfile.lock

# transient files
/test/tmp/
/test/packages/
/tmp/

# tooling
/.ruby-lsp/
/.direnv/
/.envrc

# editors
*.swp
*~
/.zed/
/.vscode/
