# this repository must NOT have a toplevel `Gemfile`
/Gemfile
/Gemfile.lock

# transient files
/tmp/
/test/tmp/
/test/packages/*/*/*/
!/test/packages/*/*/*/Gemfile
!/test/packages/*/*/*/Gemfile.lock

# tooling
/.ruby-lsp/
/.direnv/
/.envrc

# editors
*.swp
*~
/.zed/
/.vscode/
