name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: linux
            cpu: x86_64
            libc: gnu
            base: ubuntu-24.04
          - os: linux
            cpu: aarch64
            libc: gnu
            base: ubuntu-24.04-arm
        ruby:
          - engine: ruby
            version: "1.8"
          - engine: ruby
            version: "1.9"
          - engine: ruby
            version: "2.0"
          - engine: ruby
            version: "2.1"
          - engine: ruby
            version: "2.2"
          - engine: ruby
            version: "2.3"
          - engine: ruby
            version: "2.4"
          - engine: ruby
            version: "2.5"
          - engine: ruby
            version: "2.6"
          - engine: ruby
            version: "2.7"
          - engine: ruby
            version: "3.0"
          - engine: ruby
            version: "3.1"
          - engine: ruby
            version: "3.2"
          - engine: ruby
            version: "3.3"
          - engine: ruby
            version: "3.4"
          - engine: ruby
            version: "3.5"
          - engine: jruby
            version: "9.2"
          - engine: jruby
            version: "9.3"
          - engine: jruby
            version: "9.4"
          - engine: jruby
            version: "10.0"
        exclude:
          - ruby:
              engine: ruby
              version: "1.8"
            platform:
              cpu: aarch64
              libc: gnu
          - ruby:
              engine: ruby
              version: "1.9"
            platform:
              cpu: aarch64
              libc: gnu
          - ruby:
              engine: ruby
              version: "2.0"
            platform:
              cpu: aarch64
              libc: gnu
          - ruby:
              engine: ruby
              version: "2.1"
            platform:
              cpu: aarch64
              libc: gnu

    runs-on: ${{ matrix.platform.base }}
    name: Test (${{ matrix.ruby.engine }}-${{ matrix.ruby.version }}, ${{ matrix.platform.cpu }}-${{ matrix.platform.os }}-${{ matrix.platform.libc }})

    steps:
      - name: Check CPU arch
        run: |
          test "$(uname -m)" = "${{ matrix.platform.cpu }}"
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@0481980f17b760ef6bca5e8c55809102a0af1e5a # v1.263.0
        with:
          ruby-version: "3.4"
          bundler-cache: false
      - name: Set up Docker with containerd
        uses: docker/setup-docker-action@b60f85385d03ac8acfca6d9996982511d8620a19 # v4.3.0
        with:
          daemon-config: |
            {
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Run tests
        run: ruby test/bin/test.rb --filter engine:${{ matrix.ruby.engine }} --filter version:${{ matrix.ruby.version }}
        env:
          DOCKER_BUILDKIT: 1
          DD_INTERNAL_RUBY_INJECTOR_LOG_LEVEL: DEBUG

  complete:
    name: Test (complete)
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - run: echo 'DONE!'
